h1 {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lemon Milk", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: xx-large;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.details{
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.overview{
  margin: 0 15vw;
  text-align: justify;
}

.outer{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
