header {
  background-color: var(--chinese-violet);
  height: 5.75rem;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lemon Milk", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: larger;
}
